[Desktop Entry]
Name=Game Gear
Comment=Genesis Plus GX for PG2
MimeType=application/zip;application/x-genesis-rom;application/x-megadrive-rom;application/x-sms-rom;application/x-cd-image;
Exec=gen_gcw0 %f
Terminal=false
Type=Application
StartupNotify=true
Icon=sgg
Categories=emulators;
X-OD-Manual=gcw0readme.txt
